<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace속성에는 사용할 인터페이스의 풀 경로 (패키지명 포함 인터페이스 이름까지) -->
<mapper namespace="com.spring.mvc.board.repository.BoardMapper">


    <resultMap id="boardMap" type="com.spring.mvc.board.domain.Board">
        <!-- property에는 자바 필드, column 테이블컬럼명 -->
        <result property="boardNo" column="board_no"/>
        <result property="reqDate" column="ret_date"/>
        <result property="viewCnt" column="view_cnt"/>
    </resultMap>

    <select id="getArticles" resultMap="boardMap">
        SELECT * FROM board;
    </select>

    <select id="getContent" resultMap="boardMap">
        SELECT * FROM board
        WHERE board_no = #{boardNo}
    </select>

    <insert id="insert">
        INSERT INTO board
        (board_no, writer, title, content)
        VALUES
        (seq_score.nextval, #{writer}, #{title}, #{content})
    </insert>

    <delete id="delete">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="update">
        UPDATE board SET
        (#{writer}, #{title}, #{content})
        WHERE board_no = #{boardNo}
    </update>

</mapper>